@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand&display=swap');

.heading {
    font-family: 'Quicksand';
}

.f {
    font-family: 'Playfair Display';
    font-size: 24px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 0.3em;
    margin: 0em;
    list-style-type: none;
}

.navbar {
    margin: 0%;
    border: 5px solid rgb(38, 135, 204);
    background-color: rgb(143, 218, 241);

}

.line {
    margin: 0.1em;
    border-bottom: 3px solid rgb(15, 10, 81);
}